.user__card{
    padding: 1rem;
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

}

.user__card h5{
    font-weight: bold;
}

.user__card div{
    margin-bottom: .5rem;
}

.delete__user-btn{
    margin:auto;
}

.add__account-form{
    padding:1rem;
    border-radius: 20px;
    border:1px solid var(--primary-color)
}

.add__account-form .d-flex{
    margin-bottom: 0 !important;
}

.add__account-form div{
    padding: .2rem .5rem;
}

.add__account-form input{
    width: 100%;
    padding: .5rem 1rem;
    border-radius:20px;
    border:1px solid var(--primary-color);
}

.add__account-form input:focus{
    outline:none;
}

.role__input{
    width: auto !important;
    /* margin:0 1rem; */
}

.add__account-btn{
    padding: 1rem;
    transition:.3s;
}
