.update__tour{
    border: 1px solid var(--primary-color);
    border-radius:20px;
    padding: 2rem;
    position: sticky;
    top:80px;
}

.update__tour h5{
    font-weight: bold;
}

.update__tour-form div{
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.update__tour-form input{
    border:1px solid var(--primary-color);
    border-radius: 15px;
    padding: .5rem 1rem;
    width: 100% !important;
}

.update__tour-form input:focus{
    outline:none;
}

.update__tour-btn{
    font-weight: bold !important;
    padding: .5rem 4rem !important;
}