.header{
    padding: 2rem 0;
}
.nav__container{
    background-color: #fff;
}
.brand span{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 500;
}

.login__btn{
    font-weight: 500;
}

.register__btn{
    background: var(--secondary-color) !important;
}

.register__btn a{
    color: var(--primary-color) !important;
}

.menu{
    list-style: none;
    margin-left: 4rem;
}

.menu li a{
    text-decoration: none;
    color: var(--primary-color);
}

.sticky_header{
    padding: 1rem 0 !important;
    position: sticky;
    top:0;
    background: #fff;
    z-index:1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.username{
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    padding-left:1rem;
    border-left: 2px solid var(--primary-color);
}

.logout__btn{
    font-weight: 800 !important;
}